<p id="notice"><%= notice %></p>

<h1>Sub Contractors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sub_contractors.each do |sub_contractor| %>
      <tr>
        <td><%= link_to 'Show', sub_contractor %></td>
        <td><%= link_to 'Edit', edit_sub_contractor_path(sub_contractor) %></td>
        <td><%= link_to 'Destroy', sub_contractor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sub Contractor', new_sub_contractor_path %>
